.font-serif-display {
    font-family: 'Playfair Display', serif;
}

body {
    min-height: max(884px, 100dvh);
}


.fondo-gradiente {
    background: linear-gradient(135deg, #ff00cc, #8e2de2, #c471ed);
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
    color: white;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: background 0.5s ease;
}

/* Animación del degradado */
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


:root {
    --bs-primary: #E4007C;
    --bs-primary-rgb: 228, 0, 124;
    --bs-btn-padding-y: .75rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: .5rem;
}

.btn-primary {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: rgba(228, 0, 124, 0.85);
    --bs-btn-border-color: transparent;
    --bs-btn-hover-bg: rgba(201, 0, 109, 0.9);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-bg: rgba(176, 0, 95, 0.95);
    --bs-btn-active-border-color: transparent;
    backdrop-filter: blur(10px);
}

.btn-primary:active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%, -50%);
    transform-origin: 50% 50%;
    animation: ripple 1s ease-out;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0) translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        transform: scale(20, 20) translate(-50%, -50%);
        opacity: 0;
    }
}


body {
    min-height: max(884px, 100dvh);
}