/* Imagen superior: mantener tamaño en desktop, adaptar en mobile */
.bg-image {
    height: 100%;
}

@media (max-width: 576px) {
    .bg-image {
        height: 12rem;
    }
}

/* Imágenes laterales decorativas */
.side-img {
    position: fixed;
    top: 30%;
    width: 100px;
    height: 100px;
    object-fit: contain;
    z-index: 1050;
    opacity: 0;
    transition: opacity 0.6s, transform 0.6s;
    pointer-events: none;
}

.left-img {
    left: 10px;
    transform: translateX(-40px);
}

.right-img {
    right: 10px;
    transform: translateX(40px);
}

.side-img.show {
    opacity: 1;
    transform: translateX(0);
}

body {
    background-color: #fcf8f9;
}

/* Contenedor de cuenta regresiva */
.count-box {
    background-color: #f4e7eb;
    border-radius: 1rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Botón Confirmar asistencia */
.btn-pink {
    background-color: #f53d7a;
    color: #fff;
    border-radius: 1rem;
}

.btn-pink:hover {
    background-color: #d12d66;
}

.container {
    background: linear-gradient(270deg, #fcab96, #f3f2a3);
    background-size: 800% 800%;
    animation: moverGradiente 4s ease infinite;
}

@keyframes moverGradiente {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}